<%= form_with(model: book_page) do |form| %>
  <% if book_page.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book_page.errors.count, "error") %> prohibited this book_page from being saved:</h2>

      <ul>
        <% book_page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
