<p style="color: green"><%= notice %></p>

<%= render @book_page %>

<div>
  <%= link_to "Edit this book page", edit_book_page_path(@book_page) %> |
  <%= link_to "Back to book pages", book_pages_path %>

  <%= button_to "Destroy this book page", @book_page, method: :delete %>
</div>
